.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 1em;
  padding-top: 2em;
  min-height: 150px;
}

.statsContainer {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 80vw;
  height: 100px;
  align-self: center;
  justify-content: space-evenly;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.bottom {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.tool {
  display: flex;
  width: calc(100% - 3em);
  overflow: hidden;
}

.gutter {
  padding: 2px 6px 8px 0;
  margin: 0;
  width: 2.5em;
  line-height: 16px;
  font-size: 12px;
  background: #1e1e1e;
  color: #7d7d7d;
  text-align: right;
  user-select: none;
  overflow: hidden;
}
