.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 1em;
  padding-top: 2em;
  min-height: 150px;
}

.statsContainer {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 80vw;
  height: 100px;
  align-self: center;
  justify-content: space-evenly;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.bottom {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10em;
}
