.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  align-self: center;
  flex: 1;
  padding: 1em;
  margin-bottom: 2em;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  width: 60%;
  min-height: 50vh;
  flex: 1;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self: center;
  padding: 1em;
}

.toolSearchInput {
  height: 40px;
  width: 70%;
  border-radius: 10px;
  color: var(--color-text-primary);
  padding: 0.5em 1em;
  font-size: 1.15em;
  min-width: 250px;
  max-width: 1280px;
}

.subTitle {
  font-size: 1.45em;
  font-weight: 400;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
