.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 1em;
  padding-top: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  gap: 5em;
  align-self: center;
  flex-wrap: wrap;
}

.bottom {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.tool {
  display: flex;
  width: calc(100% - 3em);
  overflow: hidden;
}

.textArea {
  display: flex;
  flex: 1;
  resize: none;
  font-size: 16px;
  line-height: 16px;
}

.gutter {
  padding: 2px 6px 8px 0;
  margin: 0;
  width: 2.5em;
  line-height: 16px;
  font-size: 12px;
  background: #1e1e1e;
  color: #7d7d7d;
  text-align: right;
  user-select: none;
  overflow: hidden;
}
