.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 1em;
  padding-top: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  gap: 5em;
  align-self: center;
  flex-wrap: wrap;
}

.bottom {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10em;
}
